body {
  background: #f9f8fe;
}

a {
  color: #9670f4;
}

.App {
  border: 2px solid #ddd;
  border-radius: 8px;
  margin: 60px 60px;
}

.App header {
  font-size: 46px;
  margin: 20px 0;
}

.App footer {
  font-size: 12px;
  margin: 20px 0;
}