body {
  background: #f9f8fe;
}

a {
  color: #9670f4;
}

.App {
  max-width: 960px;
  margin: 60px auto;
  border: 2px solid #ddd;
  border-radius: 8px;
}

.App header {
  font-size: 46px;
  margin: 20px 0;
}

.App footer {
  font-size: 12px;
  margin: 20px 0;
}